*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build
/library/all/build
/library/common/build
/library/core/build
/library/dash/build
/library/extractor/build
/library/hls/build
/library/smoothstreaming/build
/library/ui/build
